<!-- Begin page content -->
<div class="row">
<div class="col-md-4">   
<form method="post" id="addUserForm" action="/users/add">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" name="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAddress" class="col-sm-2 col-form-label">Profession</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputProfession" name="profession" placeholder="profession">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputSalary" class="col-sm-2 col-form-label">Color</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputColor" name="color" placeholder="Color">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputSalary" class="col-sm-2 col-form-label">City</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCity" name="city" placeholder="City">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputSalary" class="col-sm-2 col-form-label">Branch</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputBranch" name="branch" placeholder="branch">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="button" id="btnSubmit" class="btn btn-primary">Add User</button>
    </div>
  </div>
</form>
</div> 

<div class="col-md-8">
  <table class="table" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">profession</th>
      <th scope="col">color</th>
      <th scope="col">city</th>
      <th scope="col">branch</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>    
  </tbody>
</table>
</div>
</div>